asgiref
bleach
certifi
charset-normalizer
Django
django-autoslug
django-bleach
django-ckeditor-5
django-js-asset
gunicorn
idna
kavenegar
mysqlclient
packaging
pillow
python-slugify
requests
six
sqlparse
text-unidecode
tinycss2
urllib3
webencodings
